@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
body{
    background-color: rgb(22, 20, 20);
}
    
*{
    padding: 0%;
    margin: 0%;
}
nav{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.delivery{
    width: 150px;
    height: 45px;
    border: 2px solid red;
    position: relative;
    left: 200px;
    top: 24px;
    background-color: rgb(33, 29, 29);
    border-radius: 5px;
     cursor: pointer;
}
.delivery_icon{
    width: 30px;
    position: relative;
    right: 80px;
    
}
.delivery_text{
    position: relative;
    bottom: 8px;
    left: 25px;
    text-decoration: none;
    font-size: larger;
    font-family: "Momo Trust Display";
    color: rgb(255, 255, 255);
    
}

.pickup{
    width: 150px;
    height: 45px;
    border: 2px solid red;
    position: relative;
    left: 210px;
    top: 24px;
    background-color: rgb(33, 29, 29);
    border-radius: 5px;
    cursor: pointer;
}

.pickup_icon{
    width: 30px;
    position: relative;
    right:  60px;
}
.pickup_text{
    position: relative;
    bottom: 8px;
    left: 25px;
    text-decoration: none;
    font-size: larger;
    font-family: "Momo Trust Display";
    color: rgb(255, 255, 255);

}

.menu{
    width: 40px;
    position: relative;
    left: 50px;
    top: 30px;
     cursor: pointer;

}
.kfc{
    position: relative;
    left: 80px;
    top: 30px;
}
.login{
    width: 80px;
    height: 40px;
    position: relative;
    left: 60%;
    top: 20px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(235, 1, 42);
    border: none;
    color: aliceblue;
     cursor: pointer;
}
.backpic{
    width: 80%;
    position: relative;
    left: 150px;
    top: 150px;
}

/* all box item */
.box{
    display: inline-block;
}

/* Pic_1_box section */

.pic_1_box{
    width: 300px;
    height:400px;
    /* border: 1px solid black; */
    position: relative;
    top: 200px;
    left: 100px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_1_box:hover{
    box-shadow: 4px 4px 4px black;
}


.zinger{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price{
    width: 100px;
    height: 40px;
    position: relative;
    top: 40px;
    left: 67%;
    background-color: rgb(235, 1, 42);
}

.price_span_1{
    position: relative;
    left: 13px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}
.order_1{
    
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    border: 2px solid rgb(235, 1, 42);
    background-color: rgb(235, 1, 42);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_1:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_1{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid rgb(235, 1, 42);
    color: rgb(255, 255, 255);
     border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_1:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_icon{
    width: 30px;
    position: relative;
    right: 20px;
    top: 4px;
}
.cart_span{
    position: relative;
    bottom: 6px;

}

.img_1{
    width: 300px;
    position: relative;
    bottom: 80px;
}





/* pic_2_box section */


.pic_2_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 200px;
    left: 130px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_2_box:hover{
    box-shadow: 4px 4px 4px black;
}
.zinger_2{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.img_2{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_2{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_2:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_2{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_2:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}

.price_span_2{
    position: relative;
    left: 13px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


/* pic_3_box section */
.pic_3_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 200px;
    left: 160px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_3_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_3{
    width: 300px;
    position: relative;
    bottom: 100px;
}
.order_3{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42) ;
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_3:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_3{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_3:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_3{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 5px;
}
.price_span_3{
    position: relative;
    left: 10px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}



/* pic_4_box section */


.pic_4_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 200px;
    left: 190px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_4_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_4{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_4{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_4:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_4{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_4:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_4{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_4{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


/* pic_5_box section */

.pic_5_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 100px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_5_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_5{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_5{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_5:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_5{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_5:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_5{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_5{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


.pic_6_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 200px;
    left: 130px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_6_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_6{
    width: 250px;
    position: relative;
    bottom: 50px;
    left: 20px;
}
.order_6{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_6:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_6{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42); 
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_6:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_6{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_6{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


/* pic_7_box section  */

.pic_7_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 160px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_7_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_7{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_7{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_7:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_7{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_7:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_7{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_7{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}
/* price section 8  */
.pic_8_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 190px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_8_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_8{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_8{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_8:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_8{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_8:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_8{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_8{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}

/* section 9 box  */

.pic_9_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 305px;
    left: 100px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_9_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_9{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_9{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_9:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_9{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_9:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_9{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_9{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}

/* section 10 box  */

.pic_10_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 130px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_10_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_10{
    width: 300px;
    position: relative;
    bottom: 50px;
}
.order_10{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_10:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_10{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_10:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_10{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_10{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


/*pic box 11 section  */
.pic_11_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 160px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_11_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_11{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_11{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_11:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_11{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_11:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_11{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_11{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}

/* pic box 12 */
.pic_12_box{
    width: 300px;
    height:400px;
    position: relative;
    top: 250px;
    left: 190px;
    background-color: rgb(230, 224, 224);
    box-shadow: 2px 2px 2px darkred;
}
.pic_12_box:hover{
    box-shadow: 4px 4px 4px black;
}
.img_12{
    width: 300px;
    position: relative;
    bottom: 70px;
}
.order_12{
    width: 120px;
    height: 50px;
    position: relative;
    left: 10px;
    top: 269px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.order_12:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.cart_12{
    width: 120px;
    height: 50px;
    position: relative;
    left: 48px;
    top: 275px;
    background-color: rgb(235, 1, 42);
    border: 2px solid  rgb(235, 1, 42);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     cursor: pointer;
}
.cart_12:hover{
    background-color: rgb(255, 255, 255);
    border-color:rgb(235, 1, 42) ;
    color: rgb(235, 1, 42);
}
.zinger_12{
    font-family: "Momo Trust Display";
    position: relative;
    top: 30px;
    left: 20px;
}
.price_span_12{
    position: relative;
    left: 5px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: aliceblue;
}


/* footer section */

.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(49, 42, 42);
    position: relative;
    top: 500px;
    font-family: "Momo Trust Display";
}

.footer_image{
    width: 100px;
    position: relative;
    left: 50%;
    top: 50px;
}

.track{
    position: relative;
    top: 55px;
    left: 100px;
    text-decoration: none;
    display: block;
    color: aliceblue;
}
.track:hover{
    color: rgb(235, 1, 42);
}
.about{
    position: relative;
    top: 75px;
    left: 100px;
    text-decoration: none;
    display: block;
    color: aliceblue;
}
.about:hover{
    color: rgb(235, 1, 42);
}
.more{
    position: relative;
    top: 95px;
    left: 100px;
    text-decoration: none;
    display: block;
    color: aliceblue;
}
.more:hover{
    color: rgb(235, 1, 42);
}
.location{
    position: relative;
    top: 120px;
    left: 100px;
    text-decoration: none;
    display: block;
    color: aliceblue;
}
.location:hover{
    color: rgb(235, 1, 42);
}
.brance{
    position: relative;
    top: 140px;
    left: 100px;
    text-decoration: none;
    display:block;
    color: aliceblue;
}
.brance:hover{
    color: rgb(235, 1, 42);
}
.us{
    display: block;
    position: relative;
    left: 300px;
    bottom: 55px;
    text-decoration: none;
    color: aliceblue;
}
.us:hover{
    color: rgb(235, 1, 42);
}
.contact{
    display: block;
    position: relative;
    left: 300px;
    bottom: 35px;
    text-decoration: none;
    color: aliceblue;
}
.contact:hover{
    color: rgb(235, 1, 42);
}
.terms{
    display: block;
    position: relative;
    left: 500px;
    bottom: 105px;
    text-decoration: none;
    color: aliceblue;
}
.terms:hover{
    color: rgb(235, 1, 42);
}

.google_play{
    position: relative;
    left: 70%;
    bottom: 100px;
     cursor: pointer;
}
.download{
    position: relative;
    left: 70%;
    bottom: 100px;
     cursor: pointer;
}